{% extends "admin/base.html" %}
{% load i18n static %}

{% comment %}
{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% endcomment %}
{% block title %}{% if subtitle %}{% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
<a href="{% url 'create_study_materials' %}">{% translate 'Create Study Materials' %}</a> /
{% comment %}
<a href="{% url 'collect_readwise_articles' %}">{% translate 'Collect Readwise Summaries' %}</a> /
{% endcomment %}
{% if site_url %}
    <a href="{% url 'practice_translation' %}">{% translate 'Practice Translation' %}</a> /
{% endif %}
{% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
    {% endif %}
{% endif %}
{% if user.has_usable_password %}
<!--
<a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
-->
<a href="{% url 'admin:accounts_customuser_change' user.id %}">{% translate 'Settings' %}</a> /
{% endif %}
<a href="https://github.com/pandichef/fabulari/issues">{% translate 'Report Issues' %}</a> /
<a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %}
