{% extends "admin/base.html" %}
{% load i18n static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block userlinks %}
<a href="{% url 'create_study_materials' %}">{% translate 'Create Study Materials' %}</a> /
{% comment %}
<a href="{% url 'collect_readwise_articles' %}">{% translate 'Collect Readwise Summaries' %}</a> /
{% endcomment %}
{% if site_url %}
    <a href="{{ site_url }}">{% translate 'Practice Translation' %}</a> /
{% endif %}
{% if user.is_active and user.is_staff %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
    {% endif %}
{% endif %}
{% if user.has_usable_password %}
<!--
<a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
-->
<a href="/admin/accounts/customuser/{{user.id}}/change/">{% translate 'Settings' %}</a> /
{% endif %}
<a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
{% endblock %}
