{% extends "admin/change_form.html" %}

{% block object-tools-items %}
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div class="object-tools">
        <a href="/add_multiple_phrases">
            Add Multiple Phrases <b>+</b>
        </a>
    </div>
{% endblock %}

<!--
{% block extrahead %}
    {{ block.super }}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var field = document.getElementById('id_text');  // Replace 'your_field' with the ID of the field you want to focus on
            if (field) {
                field.focus();
            }
        });
    </script>
{% endblock %}
-->